<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gaodedemo.mapper.BikePositionMapper">

    <select id="getList" resultType="com.example.gaodedemo.entity.BikePositionDO">
       SELECT * from bike_refresh_position
    </select>

</mapper>